/* ----------------------------Фільтри-------------------------------- */
.filters {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;

    text-align: center;
}

.filters .item {
    margin-right: 8px;
}

.filters .item:last-child {
    margin-right: 0;
}